/*
 * Scene
 * by kmturley
 */

body {
    margin: 0;
    overflow: hidden;
}

.logo {
    left: 1rem;
    position: absolute;
    top: 1rem;
    width: 100px;
    z-index: 2;
}

.logo2 {
    margin-left: 50%;
}

.scene {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}